.App {
  text-align: center;
}

header {
  width: 100vw;
  background-color: rgb(28, 28, 28);
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding: 0.8em;
  font-family: 'Cinzel Decorative', cursive;
}