.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(37, 37, 38);
}

header {
  width: 95vw;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  padding-bottom: 0.5em;
  border-bottom-style: double;
  border-color: grey;
}

header h1 {
  text-align: center;
  font-size: 3.5em;
  margin: 0 auto;
  padding: 0.7em 0.2em 0em 0.2em;
  font-family: 'Pirata One', cursive;
}

header a {
  color: rgb(37, 37, 38);
}

header a:hover {
  color: rgb(67, 134, 173);
}

footer {
  padding: 0.5em 0;
  background-color: rgb(33, 33, 33);
}

footer * {
 color: white;
 text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: rgb(67, 134, 173);
}

footer svg {
  margin: 1em 0.5em 0 0.5em;
}

footer svg:hover {
  fill: rgb(67, 134, 173);
}

.top-sign {
  display: flex;
  background-color: rgb(67, 134, 173);
  padding: 1em;
}

.top-sign a {
  color: white;
  margin: 0 auto;
  font-size: 1.2em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-sign a:hover {
  color: rgb(36, 36, 36);
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  width: 100vw;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.single-new {
  margin: 0.9em;
  width: 27em;
  height: 26em;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(198, 198, 198, 0.523);
  border-radius: 0.1em;
  background-color: rgb(238, 238, 238);
  box-shadow: 0.3em 0.3em 0.5em #aaaaaa;
  cursor: pointer;
  transition: 0.5s ease;
}

.single-new:hover{
  background-color: rgb(23, 23, 23);
  color: white;
}

.single-new img{
  height: 100%;
  margin: 3.4em 0 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
}

.single-new img:hover{
  transform: translate(-50%, -51%);
}

.single-new p{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 1em;
  color: white;
  background-color: rgba(36, 36, 36, 0.8);
}

.single-new h4{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 1.2em 0;
}

.modal-backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 36, 36, 0.880);
  opacity: 1;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: scroll;
  width: 60vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgb(255, 255, 255);
  text-align: center;
  border-radius: 0.2em;
  border-left: 1em solid;
  border-color: rgb(67, 134, 173);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.modal-content img {
  width: 70%;
  border-radius: 0.4em;
}

.modal-content-close {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.modal-content-close h4 {
  font-size: 1em;
  color:rgb(62, 122, 156);
  margin: 0;
  padding: 1em 0.5em;
  text-align: left;
  font-weight: 500;
}

.modal-content-close button {
  font-size: 0.9em;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  padding: 0.7em 1em;
  border: 0.01em solid rgb(203, 203, 203);
  border-radius: 0.2em;
  margin: 0;
  background-color: rgb(245, 245, 245);
  color: rgb(63, 63, 63);
  box-shadow: 0.05em 0.05em 0.1em #aaaaaa;
  transition: 0.2s ease-in-out;
}

.modal-content-close button:hover {
  background-color: rgb(194, 87, 87);
  color: white;
}

.modal-content-text {
  padding: 0 1em 3em 1em;
}

.modal-content-text h5 {
  font-style: italic;
  font-weight: 500;
  font-size: 0.95em;
  margin: 0.2em auto;
  width: 70%;
  color: rgb(72, 72, 72);
}

.modal-content-text p {
  margin: 1em auto 0 auto;
  padding: 0 1em 0.3em 1em;
}

.modal-content-text a {
  text-decoration: none;
  border-bottom: 0.1em solid rgb(62, 122, 156);
  color: rgb(62, 122, 156);
}

.modal-content-text a:hover {
  border-bottom: 0.1em solid rgb(9, 86, 168);
  color: rgb(9, 86, 168);
}

@media only screen and (max-width: 600px) {
  .modal-content {
    width: 80vw;
  }

  .modal-content img {
    width: 100%;
    border-radius: 0;
  }

  .modal-content h5 {
    width: 100%;
  }

  .modal-content-close h4 {
    font-size: 0.9em;
  }

  .single-new img:hover{
    object-position: center;
  }

  header h1 {
    font-size: 2.5em;
  }

}